# .gitignore

# Node dependencies
/frontend/node_modules
/frontend/dist
/frontend/.vite
backend/tempshare-files
# Go build output
/backend/server
backend/data

# Local database file
/backend/*.db
/backend/*.pem
# Docker data volume on host
/data

# OS-specific files
.DS_Store
Thumbs.db

# IDE configuration files
.vscode/
.idea/

.env
GEMINI.md
日志.txt